{% extends 'base.html.twig' %}
{% block title %}Editar artista{% endblock %}
{% block breadcrumb %}
<h3 class="text-themecolor m-b-0 m-t-0">Artistas</h3>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{{ path('artista_index') }}">Artistas</a></li>
    <li class="breadcrumb-item active">Editar</li>
</ol>
{% endblock %}

{% block body %}

<div class="card">

    <div class="card-header">
        <h2>Editar Artista</h2>
    </div>
    
    <div class="card-body">

        {{ form_start(edit_form, { 'attr' : {'role' : 'form', 'class' : 'form-material m-t-40'} }) }}
                
        <div class="form-group">
            {{ form_widget(edit_form.nombre, { 'attr' :{'class' : 'form-control', 'placeholder' : 'Entre el artista'} }) }}
            <span class="text-danger">{{ form_errors(edit_form.nombre) }}</span>
        </div>
    </div>

    <div class="card-footer">
        <div class="button-group">
            {{ form_widget(edit_form.save, {'label' : 'Guardar artista', 'attr' : {'class' : 'btn waves-effect waves-light btn-success'}}) }}
            <a href="{{ path('artista_index') }}" class="btn waves-effect waves-light btn-secondary">Ir al Listado</a>
        </div>
    </div>

    {{ form_end(edit_form) }}
</div>    
{% endblock %}
