{% extends 'base.html.twig' %}

{% block body %}
    <h1>Artista list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artistum in artistas %}
            <tr>
                <td><a href="{{ path('artista_show', { 'id': artistum.id }) }}">{{ artistum.id }}</a></td>
                <td>{{ artistum.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('artista_show', { 'id': artistum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('artista_edit', { 'id': artistum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('artista_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
