{% extends 'base.html.twig' %}
{% block title %}Detalles de usuario{% endblock %}
{% block breadcrumb %}
<h3 class="text-themecolor m-b-0 m-t-0">Usuarios</h3>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Usuarios</a></li>
    <li class="breadcrumb-item active">Detalles</li>
</ol>
{% endblock %}

{% block body %}

<div class="card">

    <div class="card-header">
        <h2>Detalles de usuario</h2>
    </div>
    
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>Usuario</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Nombre(s)</th>
                    <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                    <th>Apellido(s)</th>
                    <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                    <th>Correo electrónico</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>
                        {% if user.role == 'ROLE_ADMINISTRATOR' %}
                            Administrador
                        {% else %}
                            Usuario
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>¿Es activa?</th>
                    <td>{% if user.isActive %}Si{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Cuenta creada</th>
                    <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Cuenta actualizada</th>
                    <td>{% if user.updatedAt %}{{ user.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        {{ form_start(delete_form) }}
        <div class="button-group">
            <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn waves-effect waves-light btn-warning"><i class="fa fa-edit"></i> Editar</a>
            <a href="{{ path('user_index') }}" class="btn waves-effect waves-light btn-secondary">Ir al Listado</a>
            <button type="submit" class="btn waves-effect waves-light btn-danger pull-right"><i class="fa fa-eraser"></i> Eliminar</button>
        </div>
        {{ form_end(delete_form) }}
    </div>
</div>    
{% endblock %}